*{
    margin: 0px;
    padding: 0px;
    font-family: "Lato";
}
body{
    overflow: hidden;
}
#cameraChange{
    position: absolute;
    margin: 0 auto;
    display: block;
}
#root{
    position: absolute;
}
#shadowPanel{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0 , 0 , 0 , 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

#arrPanel{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0 , 0 , 0 , 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginForm{
    height: 50%;
    width: 40%;
    border: 10px solid #B82601;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

#loginForm h1{
    text-align: center;
    color: #B82601;
    font-size: 300%;
}

#loginForm input{
    width: 50%;
    height: 35px;
    margin: 10px auto;
}

#loginForm button{
    width: 50%;
    height: 35px;
    margin: 10px auto;
}


#arrShow{
    position: fixed;
    right: 20px;
    top: 20px;
    width: 5vw;
    height: 5vw;
    background-color: #B82601;
    background-image: url("/gfx/chess.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border-radius: 50%;
}

#contentDiv{
    height: 75%;
    width: 60%;
    border: 10px solid #B82601;
    background-color: #B82601;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gridDiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0px auto;
    height: 90%;
    width: 70%;
    /*obrót diva bo obraz logiczny i fizyczny w tych warcabach jest odwrócony*/
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#gridDiv>div {
    flex-basis: calc(100% / 8);
    height: calc(100% / 8);
    box-sizing: border-box;
}

.logicPawn{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}